body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#search-box {
    width: 100%;
}

#list-ul {
    width: 100%;
    text-align: left;
}

li {
    text-decoration: none;
    list-style: none;
}

#map-container {
    height: 100%;
    width: 70%;
    display: inline-block;
    float: right;
    text-align: center;
}

#map {
    height: 80%;
    display: inline-block;
    width: 90%;
    margin-top: 50px;
    border-radius: 15px;
    border: 2px solid #eee;
}

.container {
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
}

#pano {
    height: 150px;
}